/* NOTE: CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  text-size-adjust: none;
  height: 100%;
}

li,
ol {
  padding: 0;
  list-style: none;
}

button {
  color: inherit;
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
  appearance: none;
  cursor: pointer;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
}

figcaption,
figure,
main {
  display: block;
}

ul {
  list-style: none;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  display: block;
  width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}


/* NOTE: fonts */
@font-face {
  font-family: 'Roboto Italic';
  src: url('fonts/transfonter/Roboto-Italic.eot');
  src: url('fonts/transfonter/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/transfonter/Roboto-Italic.woff2') format('woff2'),
    url('fonts/transfonter/Roboto-Italic.woff') format('woff'),
    url('fonts/transfonter/Roboto-Italic.ttf') format('truetype'),
    url('fonts/transfonter/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/transfonter/Roboto-Light.eot');
  src: url('fonts/transfonter/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/transfonter/Roboto-Light.woff2') format('woff2'),
    url('fonts/transfonter/Roboto-Light.woff') format('woff'),
    url('fonts/transfonter/Roboto-Light.ttf') format('truetype'),
    url('fonts/transfonter/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('fonts/transfonter/Roboto-Bold.eot');
  src: url('fonts/transfonter/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/transfonter/Roboto-Bold.woff2') format('woff2'),
    url('fonts/transfonter/Roboto-Bold.woff') format('woff'),
    url('fonts/transfonter/Roboto-Bold.ttf') format('truetype'),
    url('fonts/transfonter/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto BoldItalic';
  src: url('fonts/transfonter/Roboto-BoldItalic.eot');
  src: url('fonts/transfonter/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/transfonter/Roboto-BoldItalic.woff2') format('woff2'),
    url('fonts/transfonter/Roboto-BoldItalic.woff') format('woff'),
    url('fonts/transfonter/Roboto-BoldItalic.ttf') format('truetype'),
    url('fonts/transfonter/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto LightItalic';
  src: url('fonts/transfonter/Roboto-LightItalic.eot');
  src: url('fonts/transfonter/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/transfonter/Roboto-LightItalic.woff2') format('woff2'),
    url('fonts/transfonter/Roboto-LightItalic.woff') format('woff'),
    url('fonts/transfonter/Roboto-LightItalic.ttf') format('truetype'),
    url('fonts/transfonter/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto MediumItalic';
  src: url('fonts/transfonter/Roboto-MediumItalic.eot');
  src: url('fonts/transfonter/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/transfonter/Roboto-MediumItalic.woff2') format('woff2'),
    url('fonts/transfonter/Roboto-MediumItalic.woff') format('woff'),
    url('fonts/transfonter/Roboto-MediumItalic.ttf') format('truetype'),
    url('fonts/transfonter/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('fonts/transfonter/Roboto-Medium.eot');
  src: url('fonts/transfonter/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/transfonter/Roboto-Medium.woff2') format('woff2'),
    url('fonts/transfonter/Roboto-Medium.woff') format('woff'),
    url('fonts/transfonter/Roboto-Medium.ttf') format('truetype'),
    url('fonts/transfonter/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/transfonter/Roboto-Regular.eot');
  src: url('fonts/transfonter/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/transfonter/Roboto-Regular.woff2') format('woff2'),
    url('fonts/transfonter/Roboto-Regular.woff') format('woff'),
    url('fonts/transfonter/Roboto-Regular.ttf') format('truetype'),
    url('fonts/transfonter/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* NOTE: Generic style */
body {
  background-image: linear-gradient(to right bottom,
      #c0bec0,
      #858585,
      #6e6d6e,
      #4e4e4e,
      #313131);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

#root {
  width: 100%;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

h1 {
  font-size: 54px;
  line-height: 1.2;
  color: #ffffff;
  font-family: 'Roboto Bold';
  margin-bottom: 16px;
}

h1 span {
  color: #fab8c4;

}

h2 {
  font-size: 56px;
  line-height: 1.3;
  font-family: 'Roboto Medium';
  text-align: center;
  max-width: 810px;
  margin: auto;
  width: 100%;
  margin-top: 80px;
}

h2 span {
  color: #3e45eb;
}

h3 {
  font-size: 32px;
  line-height: 1.3;
  font-family: 'Roboto Bold';
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

p {
  font-size: 20px;
  line-height: 32px;
}

.section {
  margin-bottom: 120px;
}

.table__row {
  border-bottom: 1px solid #dddddd;
}

.table__row:nth-child(1),
.table__row:nth-child(2) {
  border-bottom: 0;
}

.table__column {
  padding: 10px 0;
  color: #495160;
}

th.table__column {
  text-align: left;
  font-weight: 600;
}

.table__column--2 {
  color: #000000;
}

.table__column--2 {
  color: #3e45eb;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.grid {
  display: grid;
  grid-gap: 32px;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

.producto {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

button {
  cursor: pointer;
  border: 1px solid #e28c29;
  padding: 14px 30px;
  border-radius: 50px;
  color: #fff;
  background: #e28c29;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}

button:hover {
  background: #fff;
  color: #e28c29;
}

.button {
  background-color: #ffffff;
  color: #e28c29;
  padding: 16px 30px;
  font-weight: 600;
  border-radius: 8px;
  display: inline-block;
  transition: 0.3s;
}

.button:hover {
  background-color: #fff0f6;
  color: #ca5186;
  box-shadow: 3px 3px 3px 0 rgb(26 40 111 / 23%);
}

.button--link {
  text-decoration: none;
}

.button--xs {
  background-color: #e6eafc;
  font-size: 16px;
  padding: 9px 15px;
}

.button--carrito {
  position: relative;
}

.button--carrito p {
  position: absolute;
  border-radius: 50%;
  background-color: #e28c29;
  color: #ffffff;
  width: 24px;
  height: 24px;
  bottom: 3px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__masMenos {
  padding: 5px 15px;
}

.button__remove img {
  height: 24px;
  width: 24px;
  color: #ffffff;
}

.button__remove {
  padding: 5px 15px;
  background-color: #c01e1e;
}

.button__remove:hover {
  background-color: #da1825;
}

.button__add {
  background-color: green;

}

.li__compra {
  list-style: decimal inside;
  margin-bottom: 10px;
}

.header__message {
  color: #ffffff;
  background-color: #243141;
  height: 60px;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container__button p {
  margin: 10px;
}

.header__logo {
  width: 87px;
}

.header__menu-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s;
}

.header__menu-item {
  margin-right: 30px;

  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header__menu-item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu-link {
  color: #495160;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  height: 100%;
  align-items: center;
}

.header__menu-link:hover {
  cursor: pointer;
}

.header__menu-link--inside {
  padding: 10px;
}

.menu__nesting {
  clip-path: var(--clip);
  transition: clip-path .3s;
  position: absolute;
  width: max-content;
  background-color: #ffffff;
  z-index: 1;
}

.hero {
  background-color: #3e45eb;
  text-align: center;
  margin-bottom: 80px;
}

.hero__container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.hero__p {
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}

.section-1__menu-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.section-1__menu-item {
  margin-right: 40px;
}

.section-1__menu-item:last-child {
  margin-right: 0px;
}

.section-1__menu-link {
  color: #717680;
}

.section-1 .grid__item {
  position: relative;
}

.section-1__pills {
  display: flex;
  position: absolute;
  bottom: -74px;
  left: 25px;
}

.section-1__pill {
  background-color: #f8f9fb;
  border-radius: 8px;
  padding: 24px;
  margin-right: 24px;
  max-width: 250px;
  width: 100%;
}

.section-1__pill:last-child {
  margin-right: 0;
}

.section-1__pill-title {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1;
  color: #3e45eb;
}

.footer__container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

header h1 {
  color: #c0bec0;
}

.logo {
  height: 80px;
}

.userImage {
  height: 50px;
}

.cartImage {
  height: 30px;
  width: auto;
  object-fit: contain;
  object-position: center center;
}

/* estilos cartas productos */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');

main {
  max-width: 1200px;
}

.card {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.card__title {
  display: flex;
  align-items: center;
}

.card__body {
  margin-bottom: 25px;
}

.half {
  text-align: center;
}

.half img {
  max-height: 250px;
  object-fit: contain;
  object-position: center center;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #181e28;
}

p.price {
  font-family: "Fjalla One", sans-serif;
  color: #e28c29;
  font-size: 25px;
  margin-top: 10px;
}

.image {
  padding-top: 15px;
  width: 100%;
}

.image__cart {
  padding-top: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.description {
  margin-bottom: 25px;
}

p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #555;
}

.card__footer {
  padding: 30px 40px;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  position: relative;
}

.card__footer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  width: calc(100% - 40px);
  height: 3px;
  background: #115dd8;
  background: linear-gradient(to right, #115dd8 0%, #115dd8 20%, #ddd 20%, #ddd 100%);
}

.recommend {
  flex: 1 0 10px;
}

.recommend p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #555;
}

h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #e28c29;
}

button {
  cursor: pointer;
  border: 1px solid #e28c29;
  padding: 14px 30px;
  border-radius: 50px;
  color: #fff;
  background: #e28c29;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}

button:hover {
  background: #fff;
  color: #e28c29;
}

/* LOGIN */

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}
.button__mod{
  margin-top: 20px;
}

.button__mod:hover {
  background-color: #cc1818;
}

.form {
  max-width: 408px;
  width: 100%;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* FORMULARIO CONTACTO */

.contact_form {
  max-width: 460px;
  width: 100%;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  background-color: #fbfbfb;
  padding: 30px;
}

.contact_form p {
  width: 100%;
}

input {
  background-color: #fbfbfb;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e28c29;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e28c29;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button p {
  color: #fff;
}

span {
  color: #e28c29;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}


::-webkit-input-placeholder {
  color: #a8a8a8;
}


::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}